<ul class="nav nav-pills flex-column ul_tabs">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профиль</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PromoNavClass(ViewContext)" id="promo"  asp-page="./Promo">Промокод</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ShoppingCartNavClass(ViewContext)" id="shoppingCart" asp-page="./ShoppingCart">Корзина</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.BalanceNavClass(ViewContext)" id="balance" asp-page="./Balance">Пополнить счёт</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.LogoutNavClass(ViewContext)" id="logout"  asp-page="./Logout">Выход</a></li></ul>

